<div class="form-group pull-left">
     <form class="form-inline" ng-submit="search(User)">
          <label class="sr-only" for="inlineFormInput">Name</label>
          <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" ng-model = "User.name" id="inlineFormInput" placeholder="Name">

          <label class="sr-only" for="inlineFormInputGroup">Username</label>
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">

               <input type="text" class="form-control" ng-model = "User.skills" id="inlineFormInputGroup" placeholder="Skills" >
          </div>


          <button type="submit" class="btn btn-primary">Submit</button>
     </form>

</div>
<span class="counter pull-right"></span>
<table class="table table-hover table-bordered results">
     <thead>
          <tr>
               <th>#</th>
               <th class="col-md-5 col-xs-5">Username </th>
               <th class="col-md-5 col-xs-5">Firstname </th>
               <th class="col-md-5 col-xs-5">Lastname </th>
               <th class="col-md-4 col-xs-4">Email</th>
               <th class="col-md-3 col-xs-3">Skills</th>
          </tr>
          <tr class="warning no-result">
               <td colspan="4"><i class="fa fa-warning"></i> No result</td>
          </tr>
     </thead>
     <tbody>
          <tr ng-if="dataList.length" ng-repeat="data in dataList">
               <th scope="row">{{$index+1}}</th>
               <td>{{data.username}}</td>
               <td>{{data.name.first}}</td>
               <td>{{data.name.last}}</td>
               <td>{{data.email}}</td>
               <td>{{data.skills | implode}}</td>
          </tr>
          <tr ng-if="!dataList.length">
               <td colspan="6">No Record Found</td>
          </tr>

     </tbody>
</table>
